.discription-component-section {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  #FFFFFF;
}

.discription-component-section__container {
    padding-top: 10px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-radius: 10px;
    background-color: #DFE0E1;
}

.discription-component-section__title {
    padding-left: 20px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.discription-component-section__discription {
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
    background-color: #FFFFFF;
}


@media only screen and (max-width: 800px) {
    .discription-component-section__discription {
        font-size: 12px;
        line-height: 14px;
    }
}

@media only screen and (max-width: 480px) {
       .discription-component-section__discription {
        font-size: 10px;
        line-height: 12px;
    }
}