.component-page-section {
    border-radius: 10px;
    background-color:  #ffffff;
}

.component-page-section__max-img-block {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-radius: 30px;
    background-color: #FFFFFF;
    z-index: 999;
}

.max-img-block {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding-top: 30px;
    font-size: 50px;
    color: red;
}

.component-page-section__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.component-page-section__title {
    margin-bottom: 40px;
}

.component-page-section__main-block {
    display: flex;
}

.cps-main-block__img {
    width: 450px;
    border-radius: 30px;
    margin-right: 20px;
}

.cps-main-block__img-dop-block {
    width: 150px;
    margin-right: 20px;
}

.cmb-img-dop-block__img {
    border-radius: 10px;
    margin-bottom: 4px;
}

.component-page-section__data {
    width: 640px;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.cps-data__vendor {
    display: flex;
    margin-bottom: 20px;
}

.cps-d-vendor__name {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-right: 20px;
}

.cps-d-vendor__vendor {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
}

.cps-data__hr {
    border: 0.5px solid #DFE0E1;
    margin-bottom: 20px;
}

.characteristics-block {
  width: 100%;
  margin-bottom: 40px;
}

.characteristics-block__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.characteristics-block__item {
  justify-content: space-between;
}

.characteristics-block__item:not(:last-of-type) {
  margin-bottom: 8px;
}

.characteristics-block__button-block {
  justify-content: space-between;
}

.characteristics-block__button-block_offer {
  margin-bottom: 20px;
}

.warehouse-end-price-block {
    display: flex;
    margin-bottom: 20px;
}

.cps-data__warehouse-block {
    position: relative;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #F3DE09;
    margin-right: 20px;
}

.cpsd-warehouse-block__title {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
    z-index: 1;
}

.cpsd-warehouse-block__title_fon {
    position: absolute;
    top: 35px;
    left: 24px;
    width: 180px;
    border-radius: 4px;
    height: 3px;
    background-color: #F3DE09;
}

.cpsd-warehouse-block__warehouse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.warehouse-param {
    display: flex;
    justify-content: space-between;
}

.cpsd-wb-warehouse__name,
.cpsd-wb-warehouse__quantity {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
    color: #1D252C;
}

.cps-data__price-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cps-d-price-block__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 70px;
    border-radius: 10px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 800;
    border: 1px solid #DFE0E1;
    color: red;
}

.cps-d-price-block__nalog {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #1D252C;
}

.cps-data__button-block {
    display: flex;
    justify-content: space-between;
}

.cps-d-button-block__ozon-button {
    width: 275px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #1a55eb;
    cursor: pointer;

}

.cps-d-button-block__basket-button {
    width: 240px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #1D252C;
    background-color: #F3DE09;
    cursor: pointer;
}

.cps-d-button-block__basket-button_add {
    width: 240px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #059134;
    border: 1px solid #059134;
    background-color: #FFFFFF;
    cursor: pointer;
}


.cps-d-button-block__ofer-button {
    width: 275px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #059134;
    cursor: pointer;
}

.cps-d-button-block__basket-button:hover,
.cps-d-button-block__ozon-button:hover,
.cps-d-button-block__ofer-button:hover {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}