

.card-componet-groop-section {
    margin-bottom: 50px;
}

.card-componet-groop-section__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 305px;
    height: 550px;
    padding: 30px 20px 30px 20px;
    background-color: #FFFFFF;
    border: 1px solid #DFE0E1;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 0;
}

.card-component__top {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-component__bootom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-component:hover {
    border: 1px solid #F3DE09;
}

.card-component:nth-child(4) {
    margin-right: 0px;
}

.card-component:nth-child(8) {
    margin-right: 0px;
}

.card-component__img {
    width: 140px;
    height: 180px;
    margin-bottom: 20px;
}

.card-component__vendor {
    font-size: 24px;
    font-weight: 700;
    color: #1D252C;
}

.card-component__name {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #3E6BA7;
    cursor: pointer;
}

.card-component__basket-block{
    display: flex;
}

.cc-basket-block__delivry-block {
    display: flex;
    justify-content: flex-end;
}

.basket-block__quantity-item  {
    display: flex;
    margin-right: 20px;
}

.delivry-block__quantity {
    padding-left: 24px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #32C120;
    background-image: url(../../public/images/check.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.delivry-block__quantity_0 {
    color: #B63333;
    background-image: url(../../public/images/check_red.svg);
}

.delivry-block__delivery-time {
    padding-left: 30px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #6F7172;
    background-image: url(../../public/images/delivery-icon.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.card-component__price {
    text-align: right;
    font-size: 36px;
    font-weight: 800;
    color: #1D252C;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 10px;
}

.quantity-item__minus,
.quantity-item__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 40px;
    font-weight: 900;
    background-color: #DFE0E1;
}

.quantity-item__minus:hover {
    background-color: #F3DE09;
    cursor: pointer;
}

.quantity-item__plus:hover {
    background-color: #F3DE09;
    cursor: pointer;
}

.quantity-item__input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    border: 1px solid #DFE0E1;
    font-size: 16px;
    font-weight: 500;
    color: #6F7172;
}

.basket-block__button {
    width: 132px;
    height: 40px;
    padding-top: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #1D252C;
    background-color: #DFE0E1;
}

.basket-block__button:hover {
    background-color: #F3DE09;
    cursor: pointer;
}

