.search-results__card-component {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    padding: 20px;
    width: 100%;
    /* height: 500px; */
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    margin-bottom: 40px;
}

.sr-card-component__img{
    height: 300px;
}

.sr-card-component__vendor {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-weight: 200;
}

.sr-card-component__vendor p {
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
}

.sr-card-component__name {
    width: 300px;
    margin-bottom: 50px;
}

.sr-card-component-bottom__discription {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    max-width: 520px;
    margin-bottom: 30px;
}

.sccb-discription__link-manufacturer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 340px;
    max-width: 520px;
    height: 150px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #DCDDE2;
    cursor: pointer;
}

.sccb-discription__title {
    font-size: 24px;
    font-weight: 400;
}

.sccb-discription__discription {
    font-size: 16px;
    font-weight: 200;
}

.sccb-discription-lm__title {
    width: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.sccb-discription__logo {
    width: 100%;
    margin-bottom: 30px;
}

.sccb-discription-lm__img {
    border-radius: 10px;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }
} 

@media only screen and (max-width: 1024px) {
  .container {
    width: 960px;
  }
}

@media only screen and (max-width: 960px) {
    .container {
        width: 800px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 640px;
    }

    .search-results__card-component {
        flex-direction: column;
    }

    .sr-card-component-bottom__discription {
        flex-direction: column;
        max-width: 630px;
    }
}

@media only screen and (max-width: 640px) {
    .container {
        width: 480px;
    }

    .sr-card-component-bottom__discription {
        max-width: 470px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 380px;
    }

    .sr-card-component-bottom__discription {
        max-width: 370px;
    }
}
