@font-face {
  font-family: 'Days One';
  src: url("../../../public/fonts/DaysOne-Regular.eot");
  src: local("Days One"), local("DaysOne-Regular"), url("../../../public/fonts/DaysOne-Regular.eot?#iefix") format("embedded-opentype"), url("../../../public/fonts/DaysOne-Regular.woff2") format("woff2"), url("../../../public/fonts/DaysOne-Regular.woff") format("woff"), url("../../../public/fonts/DaysOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.general-purchase-section {
    display: flex;
}

.general-purchase-section__total-card {
    width: 386px;
    height: 200px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #11125F;

}

.general-purchase-section__total-card:not(:last-of-type) {
    margin-right: 10px;
}

.gps-total-card__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    margin-bottom: 20px;
}

.gps-total-card__number {
    font-family: 'Days One';
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}



