
.coming-section__title {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.coming-section__search-block {
    position: relative;
    margin-bottom: 50px;
}

.coming-section__search {
    /* ширина экрана - панель навигации - первая ячейка - последние две ячейки - падинги и маржины */
    width: 100% ;
    padding: 2px 2px 2px 20px;
    border: 1px solid #D5DAE0;
}  

.cs-search-result_none {
    display: none;
}

.cs-search-result {
    display: block;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100%;
    padding: 10px;
    border: 1px solid #D5DAE0;
    background-color: #FFFFFF;
}

.cs-search-result__result {
    margin-bottom: 4px;
    cursor: pointer;
}

.cs-search-result__result:hover {
    border-bottom: 1px solid #F3DE09;
}

.coming-section__add-component-form {
    display: flex;
}

.coming-section__article {
    width: 200px;
    padding: 2px 2px 2px 10px;
    margin-right: 4px;
}

.coming-section__name {
    /* ширина экрана - панель навигации - первая ячейка - последние две ячейки - падинги и маржины */
    width: 500px;
    padding-left: 10px;
    margin-right: 4px;
}

.coming-section__number {
    padding-left: 10px;
    width: 70px;
    margin-right: 4px;
}

.coming-section__price {
    padding-left: 20px;
    width: 150px;
    margin-right: 4px;
}

.coming-section__discription {
    padding-left: 10px;
    width: 400px;
    margin-right: 4px;
}

.coming-section__button {
    padding: 2px 10px 2px 10px;
}