.implementation-section__title {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}


.implementation-section__search-block {
    position: relative;
    margin-bottom: 50px;
}

.implementation-section__search {
    /* ширина экрана - панель навигации - первая ячейка - последние две ячейки - падинги и маржины */
    width: 380px ;
    padding: 2px 2px 2px 20px;
    border: 1px solid #D5DAE0;
}   

.i-search-result {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 380px;
    padding: 10px;
    border: 1px solid #D5DAE0;
    background-color: blue;
}

.implementation-section__add-component-form {
    display: flex;
}

.implementation-section__article {
    width: 200px;
    padding: 2px 2px 2px 10px;
    margin-right: 4px;
}

.implementation-section__name {
    /* ширина экрана - панель навигации - первая ячейка - последние две ячейки - падинги и маржины */
    width: 500px;
    padding-left: 10px;
    margin-right: 4px;
}

.implementation-section__number {
    padding-left: 10px;
    width: 70px;
    margin-right: 4px;
}

.implementation-section__price {
    padding-left: 20px;
    width: 150px;
    margin-right: 4px;
}

.implementation-section__discription {
    padding-left: 10px;
    width: 400px;
    margin-right: 4px;
}

.implementation-section__button {
    padding: 2px 10px 2px 10px;
}