.warehouse-main-section__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.warehouse-main-section__title {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.warehouse-main-section__result-table_header,
.warehouse-main-section__result-table_item {
    display: flex;
    font-size: 12px;
}

.warehouse-main-section__result-table_header {
    height: 100px;
}

.warehouse-main-section__result-table_item:hover {
    background-color: #F3DE09;
}

.warehouse-main-section__result-table_header div:nth-child(1),
.warehouse-main-section__result-table_item div:nth-child(1) {
    width: 120px;
}

.warehouse-main-section__result-table_header div:nth-child(2),
.warehouse-main-section__result-table_item div:nth-child(2) {
    /* ширина экрана - панель навигации - первая ячейка - последние две ячейки - падинги и маржины */
    width: calc(100vw - 1050px) ;
}

.warehouse-main-section__result-table_item div:nth-child(2) {
    justify-content: flex-start;
}

.warehouse-main-section__result-table_header div:nth-child(3),
.warehouse-main-section__result-table_item div:nth-child(3) {
    width: 90px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(4),
.warehouse-main-section__result-table_item div:nth-child(4) {
    width: 90px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(5),
.warehouse-main-section__result-table_item div:nth-child(5) {
    width: 90px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(6),
.warehouse-main-section__result-table_item div:nth-child(6) {
    width: 100px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(7),
.warehouse-main-section__result-table_item div:nth-child(7) {
    width: 100px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(8),
.warehouse-main-section__result-table_item div:nth-child(8) {
    width: 100px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(9),
.warehouse-main-section__result-table_item div:nth-child(9) {
    width: 40px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(10),
.warehouse-main-section__result-table_item div:nth-child(10) {
    width: 100px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(11),
.warehouse-main-section__result-table_item div:nth-child(11) {
    width: 40px;
    text-align: center;
}

.wms-result-table__header {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    background-color:  #F7FAFB;
    margin-bottom: 4px;
}

.wms-result-table__header_transform {
    transform: rotate(-90deg);
    padding-top: 32px;
}


.wms-result-table__cell {
    padding: 2px 10px 2px 10px;
    border: 1px solid #D5DAE0;
    border-radius: 2px;
    margin-right: 4px;    
}


.wms-result-table__item {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.wms-result-table__item_null {
    background-color: #e66d17;

}

.wms-result-table__item_icon {
    width: 20px;
    cursor: pointer;
}

.wms-result-table__item_form-price {
    position: absolute;
    top: 0px;
    right: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px !important;
    border-radius: 10px;
    background-color: #e66d17;
    z-index: 1;
}

.wms-result-table__item_form-price_none {
    display: none;
}

.wrt-item-form-price__title {
    width: 100% !important;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.wrt-item-form-price__price {
    height: 30px;
    margin-bottom: 10px;
}

.wrt-item-form-price__button {
    height: 40px;
}

.warehouse-main-section__pagination {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.warehouse-main-section__pagination button:not(:last-of-type) {
    margin-right: 8px;
}