.warehouse-main-section__title {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.warehouse-main-section__result-table_header,
.warehouse-main-section__result-table_item {
    display: flex;
    font-size: 14px;
}

.warehouse-main-section__result-table_header div:nth-child(1),
.warehouse-main-section__result-table_item div:nth-child(1) {
    width: 130px;
}

.warehouse-main-section__result-table_header div:nth-child(2),
.warehouse-main-section__result-table_item div:nth-child(2) {
    /* ширина экрана - панель навигации - первая ячейка - последние две ячейки - падинги и маржины */
    width: calc(100vw - 1050px) ;
}

.warehouse-main-section__result-table_item div:nth-child(2) {
    font-size: 14px;
}

.warehouse-main-section__result-table_header div:nth-child(3),
.warehouse-main-section__result-table_item div:nth-child(3) {
    width: 100px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(4),
.warehouse-main-section__result-table_item div:nth-child(4) {
    width: 140px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(5),
.warehouse-main-section__result-table_item div:nth-child(5) {
    width: 140px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(6),
.warehouse-main-section__result-table_item div:nth-child(6) {
    width: 200px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(7),
.warehouse-main-section__result-table_item div:nth-child(7) {
    width: 200px;
    text-align: center;
}


.wms-result-table__cell {
    padding: 2px 10px 2px 10px;
    border: 1px solid #D5DAE0;
    border-radius: 2px;
    margin-right: 4px;    
}

.wms-result-table__header {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    background-color:  #F7FAFB;
    margin-bottom: 4px;
}

.wms-result-table__item {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    margin-bottom: 2px;
}

.wms-result-table__item_icon {
    width: 20px;
    cursor: pointer;
}