.warehouse-main-section__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.warehouse-main-section__title {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.warehouse-main-section__result-table_header,
.warehouse-main-section__result-table_item {
    display: flex;
    font-size: 12px;
}

.warehouse-main-section__result-table_header div:nth-child(1),
.warehouse-main-section__result-table_item div:nth-child(1) {
    width: 120px;
}

.warehouse-main-section__result-table_header div:nth-child(2),
.warehouse-main-section__result-table_item div:nth-child(2) {
    /* ширина экрана - панель навигации - первая ячейка - последние две ячейки - падинги и маржины */
    width: calc(100vw - 1200px) ;
}

.warehouse-main-section__result-table_item div:nth-child(2) {
    justify-content: flex-start;
}

.warehouse-main-section__result-table_header div:nth-child(3),
.warehouse-main-section__result-table_item div:nth-child(3) {
    width: 100px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(4),
.warehouse-main-section__result-table_item div:nth-child(4) {
    width: 100px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(5),
.warehouse-main-section__result-table_item div:nth-child(5) {
    width: 100px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(6),
.warehouse-main-section__result-table_item div:nth-child(6) {
    width: 140px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(7),
.warehouse-main-section__result-table_item div:nth-child(7) {
    width: 140px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(8),
.warehouse-main-section__result-table_item div:nth-child(8) {
    width: 140px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(9),
.warehouse-main-section__result-table_item div:nth-child(9) {
    width: 40px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(10),
.warehouse-main-section__result-table_item div:nth-child(10) {
    width: 140px;
    text-align: center;
}

.warehouse-main-section__result-table_header div:nth-child(11),
.warehouse-main-section__result-table_item div:nth-child(11) {
    width: 40px;
    text-align: center;
}

.wms-result-table__header {
    display: flex;
    justify-content: center;
}

.wms-result-table__cell {
    padding: 2px 10px 2px 10px;
    border: 1px solid #D5DAE0;
    border-radius: 2px;
    margin-right: 4px;    
}

.wms-result-table__header {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    background-color:  #F7FAFB;
    margin-bottom: 4px;
}

.wms-result-table__item {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.wms-result-table__item_icon {
    width: 20px;
    cursor: pointer;
}

.warehouse-main-section__pagination {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.warehouse-main-section__pagination button:not(:last-of-type) {
    margin-right: 8px;
}