.navigation-bar-max {
    width: 300px;
    padding: 50px 10px 10px 10px;
    min-width: 300px;
    height: 100vh;
    background-color: #F5F6FA;
    border-right: 1px solid #D5DAE0;
   
}

.navigation-bar-max__logo-block {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
} 

.navigation-bar-max__logo {
    width: 80px;
    margin-right: 20px;
}

.nbm-logo-block__title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    color: #342F2C;
}

.nbm-logo-block__title_handy {
    padding-left: 40px;
    font-size: 24px;
    font-weight: 600;
}

.navigation-bar-max__top-block__line {
    width: 100%;
}

.navigation-bar-max__navigation-list {
    width: 100%;
    cursor: pointer;
}

.nbm-navigation-list__item {
    display: flex;
    margin-bottom: 10px;
}

.navigation-bar-max__navigation-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #F5F6FA;
}

.navigation-bar-max__navigation-item:hover {
    border: 1px solid #FAC855;
}

.navigation-bar-max__navigation-item:hover div {
    font-weight: 600;
    color: #342F2C;
}

.navigation-bar-max__navigation-item:not(:last-of-type) {
    margin-bottom: 10px;
}

.navigation-bar-max__navigation-item_active {
    border: 1px solid #D5DAE0;
}

.nbm-navigation-item__icon {
    width: 20px;
    margin-right: 10px;
}

.nbm-navigation-item__name {
    font-size: 16px;
    font-weight: 400;
}   

.nbm-navigation-item__name_free {
    font-size: 20px;
    font-weight: 200;
    color: #D5DAE0;
}

.nbm-navigation-item__name_free:hover {
    font-size: 20px;
    font-weight: 200;
    color: #D5DAE0 !important;
}

