.navigation-bar-max {
    min-width: 60px;
    height: 100vh;
    padding: 50px 10px 10px 10px;
    background-color: #F5F6FA;
    border-right: 1px solid #D5DAE0;
}

.navigation-bar-max__navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nbm-navigation-list__item {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}

.nbm-navigation-item__icon {
    width: 30px;
}

