body {
  background-color: #ffffff;
}

.home-delivery-section {
    padding-top: 40px;
    margin-bottom: 0px;
    background-color: rgba(243, 222, 9, 0.8);
    width: 100%;
    height: 600px;
    background: rgba(243, 222, 9, 0.8);
    background: linear-gradient(
        to right,
        rgba(243, 222, 9, 0.8) 0%,
        rgba(243, 222, 9, 0) 100%
    );
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.home-delivery-section__container {
  position: relative;
}

.home-delivery-section__images {
  position: absolute;
  top: -140px;
  right: 0px;
}

.home-delivery-section__title {
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 40px;
}

.home-delivery-section__icon-block {
  display: flex;
  margin-bottom: 40px;
}

.home-delivery-section__icon-block picture:not(:last-of-type) {
  margin-right: 20px;
}

.home-delivery-section__discr {
  width: 630px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}


@media only screen and (max-width: 1280px) {
    .home-delivery-section {
        height: 467px;
    }
    
    .home-delivery-section__discr {
        width: 499px;
        font-size: 20px;
    }
    
    .home-delivery-section__discr {
        width: 499px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .home-delivery-section__discr {
        width: 498px;
    }
}

@media only screen and (max-width: 960px) {
    .home-delivery-section {
        height: 378px;
    }

    .home-delivery-section__title {
        font-size: 64px;
        margin-bottom: 4px;
    }

    .home-delivery-section__icon-block {
      margin-bottom: 10px;
    }

    .home-delivery-section__discr {
        width: 417px;
        font-size: 16px;
    }

    .home-delivery-section__icon-block picture:not(:last-of-type) {
      margin-right: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .home-delivery-section {
      height: 400px;
    }
    
    .delivry-man__picture,
    .home-delivery-section__images_man {
      display: none;
    }
    
    .home-delivery-section__icon-block picture:not(:last-of-type) {
      margin-right: 8px;
    }

}

@media only screen and (max-width: 640px) {
    .home-delivery-section__title {
      font-size: 48px;
    }

    .home-delivery-section {
        height: 340px;
    }
}

@media only screen and (max-width: 480px) {

  .home-delivery-section {
      height: 300px;
  }
  
  .home-delivery-section__title {
    font-size: 38px;
  }

  .home-delivery-section__discr {
      width: 376px;
      font-size: 14px;
  }
}
