
.home-main-section__top {
    padding-top: 50px;
    background: linear-gradient(to right, #F3DE09 50%, #FFFFFF 50%);
}

.home-main-section__bottom {
    padding-top: 50px;
    background: linear-gradient(to right,  #FFFFFF 50%, #F3DE09 50%);
    margin-bottom: 50px;
}

.home-main-section__container__top {
    position: relative;
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;
    z-index: 1;
}

.home-main-section__container__bottom {
    position: relative;
    background-color: #FFFFFF;
    z-index: 1;
}


.home-main-section__title-block {
    position: relative;
}

.home-main-section__title {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 48px;
    font-weight: 900;
    z-index: 2;
}

.hms-title__fon {
    position: absolute;
    top: 12px;
    left: 173px;
    width: 320px;
    height: 55px;
    background-color: #ffffff;
}

.hms-title__discr {
    padding: 100px 0px 50px 0px;
    width: 757px;
    font-size: 20px;
}

.home-main-section__title-block_big {
    position: relative;
    display: flex;
}

.home-main-section__title_big {
    width: 856px;
    font-size: 128px;
    font-weight: 900;
    line-height: 110px;
    margin-bottom: 80px;
}

.hms-title__logo {
    position: absolute;
    left: 747px;
    bottom: 66px;
}

.hms-bottom__img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.top-bord {
    position: absolute;
    width: 700px;
    height: 320px;
    top: -50px;
    left: 0px;
    background: #F3DE09;
}

.bottom-bord {
    position: absolute;
    width: 640px;
    height: 350px;
    bottom: 0px;
    right: 0px;
    background: #F3DE09;
}

.top-shape {
    position: absolute;
    width: 350px;
    height: 320px;
    background: #F3DE09;
    bottom: 0;
    left: 700px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.bottom-shape {
    position: absolute;
    width: 350px;
    height: 350px;
    background: #F3DE09;
    bottom: 0;
    left: 290px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    transform: rotateY(180deg);
}



@media only screen and (max-width: 1280px) {
     .container {
        width: 1000px;
    }

    .home-main-section__title_big {
        width: 680px;
        font-size: 92px;
        line-height: 110px;
    }

    .hms-title__logo {
        left: 510px;
        bottom: 72px;
    }

    .bottom-bord {
        width: 494px;
        height: 350px;
    }

    .bottom-shape {
        width: 350px;
        height: 351px;
        bottom: 0;
        left: 157px;
    }

    .top-bord {
        width: 702px;
        height: 320px;
        top: -50px;
    }
}


@media only screen and (max-width: 1024px) {

    .home-main-section__top {
        padding-top: 20px;
    }

    .container {
    width: 960px;
    }

    .home-main-section__title_big {
        width: 680px;
        font-size: 92px;
        line-height: 110px;
    }

    .hms-title__logo {
        left: 510px;
        bottom: 72px;
    }

    .bottom-bord {
        width: 453px;
        height: 350px;
    }

    .bottom-shape {
        width: 350px;
        height: 351px;
        bottom: 0;
        left: 157px;
    }

    .top-bord {
        width: 544px;
        height: 290px;
        top: -20px;
    }

    .top-shape {
        left: 544px;
        width: 210px;
        height: 290px;
    }

    .hms-title__discr {
        width: 530px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 960px) {
    .container {
        width: 800px;
    }
    .hms-title__logo {
        left: 344px;
        bottom: 63px;
    }
    .home-main-section__title_big {
        width: 366px;
        font-size: 64px;
        line-height: 77px;
    }

    .bottom-bord {
        width: 293px;
        height: 284px;
    }

}

@media only screen and (max-width: 800px) {
  .container {
    width: 640px;
  }
}