body {
  background-color: #ffffff;
}

.home-delivery-section {
    padding-top: 40px;
    margin-bottom: 0px;
    background-color: rgba(243, 222, 9, 0.8);
    width: 100%;
    height: 600px;
    background: rgba(243, 222, 9, 0.8);
    background: linear-gradient(
        to right,
        rgba(243, 222, 9, 0.8) 0%,
        rgba(243, 222, 9, 0) 100%
    );
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.home-delivery-section__container {
  position: relative;
}

.home-delivery-section__images {
  position: absolute;
  top: -140px;
  right: 0px;
}

.home-delivery-section__title {
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 40px;
}

.home-delivery-section__icon-block {
  display: flex;
  margin-bottom: 40px;
}

.home-delivery-section__icon-block img:not(:last-of-type) {
  margin-right: 20px;
}

.home-delivery-section__discr {
  width: 630px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}
