.group-of-cards-section {
    border-radius: 30px;
    /* background-color: #e3e1e1; */
    background-color: #f6f4e6;
    margin-bottom: 20px;
}

.group-of-cards-section__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.group-of-cards-section__title {
    padding-top: 20px;
}

@media only screen and (max-width: 640px) {
    .group-of-cards-section {
        border-radius: 20px;
        background-color: #e3e1e1;
        margin-bottom: 50px;
    }

    .group-of-cards-section__container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

