.home-delivery-section {
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    background-color: #0f3d3a;
    width: 100%;
}

.home-delivery-section__container {
  position: relative;
}

.home-delivery-section__context {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-delivery-section__image {
    height: 360px;
    border-radius: 30px;
    border: 1px solid #6C151E;
    box-shadow: 0px 0px 50px 0px rgba(245, 218, 191, 0.5);
}

.home-delivery-section__title {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 20px;
  color: #F5DABF;
}

.home-delivery-section__icon-block {
  display: flex;
  margin-bottom: 20px;
}

.home-delivery-section__icon {
    width: 150px;
}

.home-delivery-section__icon:not(:last-of-type) {
    margin-right: 20px;
}

.home-delivery-section__discr {
  width: 600px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 40px;
  color: #F5DABF;
}

.home-delivery-section__button {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #F5DABF;
    color: #6C151E;
    border: 0px;
    cursor: pointer;
}

.home-delivery-section__button:hover {
    box-shadow: 0px 0px 50px 0px rgba(245, 218, 191, 0.6);
}


@media only screen and (max-width: 1280px) {
 
    .home-delivery-section__discr {
        width: 555px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {

    .home-delivery-section__icon-block {
      margin-bottom: 20px;
    }

    .home-delivery-section__icon {
        width: 120px;
    }

    .home-delivery-section__icon:not(:last-of-type) {
        margin-right: 10px;
    }

    .home-delivery-section__discr {
        width: 506px;
        font-size: 18px;
        line-height: 22px;
    }

    .home-delivery-section__image {
        height: 250px;
    }

    .home-delivery-section__button {
        width: 430px;
    }

}

@media only screen and (max-width: 800px) {
    .home-delivery-section__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .home-delivery-section__discr {
        width: 394px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .home-delivery-section__icon {
        width: 90px;
    }

    .home-delivery-section__button {
        width: 330px;
    }

    .home-delivery-section__image {
        height: 190px;
    }
}

@media only screen and (max-width: 640px) {

    .home-delivery-section {
        margin-bottom: 50px;
    }

    .home-delivery-section__title {
        font-size: 22px;
    }

    .home-delivery-section__icon {
        width: 60px;
    }

    .home-delivery-section__button{
        width: 201px;
        height: 40px;
    }

    .home-delivery-section__image {
        height: 140px;
    }

    .home-delivery-section__context {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .home-delivery-section__discr{
        width: 336px;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .home-delivery-section__discr {
        width: 324px;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 24px;
    }
    
    .home-delivery-section__image {
        height: 50px;
        border-radius: 10px;
    }
}
