@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Mulish", serif;
  background-color: #f4f4f4;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 28px;
  margin-bottom: 40px;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

a {
  color: #1D252C;
}

a:hover {
  color: #F3DE09;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.mb-40 {
  margin-bottom: 40px;
}

#button-link:hover {
  color: #1D252C;
  font-weight: 600;
}

.copyright {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}



@media only screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 960px;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 640px;
  }
}

@media only screen and (max-width: 640px) {
    .container {
        width: 480px;
    }
}