.new-footer {
    padding-top: 40px;
    padding-bottom: 20px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #1D252C;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

.new-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.new-footer__logo-footer {
    width: 100px;
}

.nf-link-list__item {
    color: #F8F6F6;
}

.nf-ll-item__link {
    text-decoration: none;
}

.nf-ll-item__link li:hover {
    color: #D26801;
}

.nf-contact-list__item {
    display: flex;
    align-items: center ;
    padding-left: 30px;
    padding-bottom: 2px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #F8F6F6;
    margin-bottom: 6px;
}

.nf-contact-list__item_mail {
    background-image: url(../../public/images/icon/icon_footer_mail.svg);
}

.nf-contact-list__item_phone {
    background-image: url(../../public/images/icon/icon_footer_viber.svg)
}


@media only screen and (max-width: 800px) { 
    .new-footer__logo-footer {
        width: 50px;
    }
}

@media only screen and (max-width: 640px) {

    .new-footer {
        padding-top: 18px;
        margin-bottom: 40px;
    }

    .new-footer__logo-footer {
        margin-right: 20px;
    }

    .new-footer__contact-list {
        width: 300px;
    }

    .nf-link-list__item {
        margin-bottom: 6px;
    }

    .nf-contact-list__item,
    .nf-link-list__item {
        font-size: 14px;
    }

    .new-footer__contact-list {
        width: 200px;
    }
}

@media only screen and (max-width: 480px) {

    .new-footer {
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
        padding-bottom: 40px;
    }

    .nf-contact-list__item,
    .nf-link-list__item {
        font-size: 10px;
    }
}
