.new-footer {
    padding-top: 40px;
    padding-bottom: 20px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #192853;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

.new-footer__container {
    display: flex;
    justify-content: space-between;
}

.new-footer__logo-footer {
    width: 100px;
}

.nf-link-list__item,
.nf-contact-list__item {
    color: #FFFFFF;
}