.company-dashboard-section__container {
  display: flex;  
}

.company-dashboard-section__left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin-right: 20px;
  text-align: left;
}

.company-dashboard-section__right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.cart-component-container__main-block {
  margin-bottom: 40px;
}

.company-dashboard-section__title {
  padding-left: 20px;
  margin-bottom: 16px;
  font-size: 24px;
}




/* Информация о компании */
.company-info {
  width: 100%;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #E9ECEF;
  
}

.company-info p {
  margin: 10px 0;
}

.company-info button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.company-info button:hover {
  background-color: #0056b3;
}

/* Редактирование */
.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #E9ECEF;
  border-radius: 5px;
}

.edit-form .preview-logo img {
  max-width: 100px;
  margin-top: 10px;
}

.edit-form button {
  margin-right: 10px;
}
