.company-dashboard-section__container {
  display: flex;  
  min-height: 700px;
}

.company-dashboard-section__left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin-right: 20px;
  text-align: left;
}

.company-dashboard-section__right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.cart-component-container__main-block {
  margin-bottom: 40px;
}

.company-dashboard-section__title {
  padding-left: 20px;
  margin-bottom: 16px;
  font-size: 24px;
}

/* Информация о компании */
.company-info {
  width: 100%;
  min-height: 284px;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #E9ECEF;
  
}

.company-info p {
  margin: 10px 0;
}

.company-info button {
  background-color: #FFFFFF;
  color: #1D252C;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #1D252C;
  cursor: pointer;
}

.company-info button:hover {
  background-color: #f4f4f4;
}

/* Редактирование информации */
.edit-form label {
  display: block;
  font-weight: 800;
  margin-bottom: 2px;
}

.edit-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #E9ECEF;
  border-radius: 5px;
  margin-bottom: 20px;
}

.edit-form .preview-logo img {
  max-width: 100px;
  margin-top: 10px;
}

.edit-form button {
  margin-right: 10px;
}


@media only screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }
} 

@media only screen and (max-width: 1024px) {
  .container {
    width: 960px;
  }

  .company-dashboard-section__title {
    padding-left: 0px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 960px) {
  .container {
      width: 800px;
  }

  .cart-component-container__main-block {
    width: 800px;
  }

  .cart-component-container__main-block {
    flex-direction: column;
  }

  .cart-main-block__images {
    margin-right: 0px;
  }

  .cart-main-block__images {
    width: 800px;
  }

  .company-dashboard-section__container {
    flex-direction: column;
  }

}

@media only screen and (max-width: 800px) {
  .container {
      width: 640px;
  }

  .cart-component-container__main-block {
    width: 640px;
  }

  .cart-main-block__images {
    width: 640px;
  }

  .company-dashboard-section__left-block {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 60px;
  }

  .company-dashboard-section__right-block {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 640px) {
    .container {
        width: 480px;
    }

    .cart-component-container__main-block {
      display: none;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 380px;
    }
}
