.orders-list {
    margin-bottom: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.pagination__button {
    height: 40px;
    border: 1px solid #F5EA29;
    border-radius: 4px;
    background-color: #F5EA29;
    margin-right: 10px;
    cursor: pointer;
}

.pagination__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;
    margin-right: 10px;
}

.pagination__select {
    width: 180px;
    border: 1px solid #F5EA29;
}


@media only screen and (max-width: 1280px) {
    .container,
    .cart-component-container__main-block {
        width: 1000px;
    }

    .define-user-page__title {
        margin-bottom: 10px;
    }

    .admin-block__button, .admin-block__select {
        width: 260px;
    }

    .user-info__define-user {
        width: 70%;
    }

} 

@media only screen and (max-width: 1024px) {
    .container,
    .cart-component-container__main-block {
        width: 960px;
    }
}

@media only screen and (max-width: 960px) {
  .container {
      width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
      width: 640px;
  }
}

@media only screen and (max-width: 640px) {
    .container {
        width: 480px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 380px;
    }
}